.table-container {
  position: relative;
  height: 65vh;
  overflow: auto;
} 
.container {
  margin:  20px;
} 
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

::ng-deep .fields {
  white-space: nowrap; 
  min-width: 40px;
  padding-left: 16px !important;
  padding-right: 16px !important;
  border: 1px solid rgba(0,0,0,0.1);

}

.right {
  text-align: right;
}
.left {
  text-align: left;
}

::ng-deep .headers {
  white-space: nowrap;
  min-width: 40px;
  padding-left: 16px !important; 
  padding-right: 16px !important;
  border: 1px solid rgba(0,0,0,0.1);
  font-weight: 600;
}

::ng-deep  tr.mat-header-row {
  height: 48px !important;
}

::ng-deep tr.mat-row, tr.mat-footer-row {
  height: 38px !important;
} 

.highlight {
background-color: whitesmoke; 
}