<br />
<form [formGroup]="searchForm">
  <div fxLayout fxLayoutGap="10px" fxLayoutAlign="center center">
    <mat-form-field fxFlex="8%">
      <mat-label>Ticker</mat-label>
      <input oninput="this.value = this.value.toUpperCase()" matInput placeholder="Ex: WEGE3" (keyup)="applyFilter()"
        #input formControlName="ticker" />
    </mat-form-field>
    <mat-form-field fxFlex="8%">
      <mat-label>P/L</mat-label>
      <input matInput type="number" placeholder="Menor que" (keyup)="applyFilter()" #input formControlName="pl" />
    </mat-form-field>
    <mat-form-field fxFlex="8%">
      <mat-label>P/VPA</mat-label>
      <input matInput type="number" (keyup)="applyFilter()" placeholder="Menor que" #input formControlName="pvp" />
    </mat-form-field>
    <mat-form-field fxFlex="8%">
      <mat-label>EV/EBIT</mat-label>
      <input matInput type="number" (keyup)="applyFilter()" placeholder="Menor que" #input formControlName="evebit" />
    </mat-form-field>
    <mat-form-field fxFlex="8%">
      <mat-label>ROE</mat-label>
      <input matInput type="number" (keyup)="applyFilter()" placeholder="Maior que" #input formControlName="roe" />
      <span matSuffix>%</span>
    </mat-form-field>
    <mat-form-field fxFlex="8%">
      <mat-label>ROIC</mat-label>
      <input matInput type="number" (keyup)="applyFilter()" placeholder="Maior que" #input formControlName="roic" />
      <span matSuffix>%</span>
    </mat-form-field>
    <mat-form-field fxFlex="8%">
      <mat-label>DY</mat-label>
      <input matInput type="number" (keyup)="applyFilter()" placeholder="Maior que" #input formControlName="dy" />
      <span matSuffix>%</span>
    </mat-form-field>
    <mat-form-field fxFlex="8%">
      <mat-label>Cresc. Rec 5a</mat-label>
      <input matInput type="number" (keyup)="applyFilter()" placeholder="Maior que" #input
        formControlName="crescimentoReceita5Anos" />
      <span matSuffix>%</span>
    </mat-form-field>
    <mat-form-field fxFlex="8%">
      <mat-label>Marg. EBIT</mat-label>
      <input matInput type="number" (keyup)="applyFilter()" placeholder="Maior que" #input
        formControlName="margemEbit" />
      <span matSuffix>%</span>
    </mat-form-field>
    <mat-form-field fxFlex="8%">
      <mat-label>Marg. Liq.</mat-label>
      <input matInput type="number" (keyup)="applyFilter()" placeholder="Maior que" #input
        formControlName="margemLiquida" />
      <span matSuffix>%</span>
    </mat-form-field>
  </div>
</form>
<div *ngIf="acoes.length > 0" class="container">
  <div class="mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="pontuacao" matSortDirection="asc">
        <ng-container *ngFor="let col of definicaoColunas" [matColumnDef]="col.key">
          <th class="headers" mat-header-cell *matHeaderCellDef mat-sort-header [arrowPosition]='col.arrowPosition'>
            {{col.label}}
          </th>
          <td class="fields" [ngClass]="[col.textAlign ? col.textAlign : '']" mat-cell *matCellDef="let element">
            <span> {{element[col.key] | dynamic:col.pipe.toString()}}</span>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell highlight" colspan="100%">
            Nenhuma registro foi encontrado ¯\_(ツ)_/¯¯
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
