<mat-nav-list>
    <section *ngIf="usuarioLogado()">
        <a class="semClick"  mat-list-item>        
            <mat-icon>mood</mat-icon> <span class="nav-caption">Olá, {{ usuario.nome }}!</span>
        </a>
        <hr style="margin: 10px;">
    </section>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a *ngIf="!usuarioLogado()" mat-list-item routerLink="/usuario/login" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Entrar</span>   
    </a>
    <a *ngIf="!usuarioLogado()" mat-list-item routerLink="/usuario/cadastro" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Cadastre-se</span>
    </a>         
    <a *ngIf="usuarioLogado()" mat-list-item  (click)="onSidenavClose(); logout()">
        <mat-icon>exit_to_app</mat-icon> <span class="nav-caption">Sair</span>
    </a>
</mat-nav-list>
