.form-wraper {
  width: 100%;
  margin-top: 2%;
}
.form-container {
  width: 35%;
  margin: auto;
  padding-bottom: 24px !important;
  display: block;
  background: rgb(253, 253, 253);
}
.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.form-header {
  padding: 24px 0;
}
.main-lock-icon {
  width: 15%;
  margin: 1px auto;
  display: block;
}


.form-body {
  padding: 0 24px;
}
.justifier {
  width: 100%;
}
.form-input {
  margin-top: 16px;
}
.form-footer {
  padding-left: 24px;
  padding-right: 24px;
}
.btn {
  display: block;
  width: 100%;
  padding: 5% !important;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 18px;
}
.custom-btn {
  margin-bottom: 15px;
  background: #3f51b5;
  color: #fff;
}
.additional-link {
  padding: 10px auto;
  text-align: center;
}



@media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .form-container {
    width: 60%;
    margin: auto;
    padding-bottom: 24px !important;
    display: block;
    background: rgb(253, 253, 253);
  }
  .btn {
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form-container {
    width: 60%;
    margin: auto;
    padding-bottom: 24px !important;
    display: block;
    background: rgb(253, 253, 253);
  }
  .btn {
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .form-container {
    width: 60%;
    margin: auto;
    padding-bottom: 24px !important;
    display: block;
    background: rgb(253, 253, 253);
  }
  .btn {
    font-size: 1em;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .form-container {
    width: 95%;
    margin: auto;
    padding-bottom: 24px !important;
    display: block;
    background: rgb(253, 253, 253);
  }
  .btn {
    font-size: 1em;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .form-container {
    width: 95%;
    margin: auto;
    padding-bottom: 24px !important;
    display: block;
    background: rgb(253, 253, 253);
  }
  .btn {
    font-size: 1em;
  }
}

.success-snackbar {
  background: #1fcd98;
  white-space: pre-wrap;
}

.spinner-alignment {
  margin: 0 auto;
}

.text {
  text-decoration: none;
  color: rgb(42, 125, 219);
}