mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
  background-image: linear-gradient(
    to right top,
    #d4e4fb,
    #d4e4fb,
    #d4e4fb,
    #d4e4fb,
    #cde0fc,
    #d4e4fb,
    #dce8fb,
    #e3ecfa,
    #e6edfa,
    #e8eef9,
    #ebf0f9,
    #edf1f8
  );
}
mat-sidenav {
  width: 250px;
}
.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #3f51b5;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: #e3ecfa;
  z-index: 99;
}
