<m4-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <m4-side-navigation (sidenavClose)="sidenav.close()"></m4-side-navigation>
    </mat-sidenav>
    <mat-sidenav-content>
      <m4-header (sidenavToggle)="sidenav.toggle()"></m4-header>
      <main>
        
<div
*ngIf=" spinnerService.visibility | async"
style="position: fixed; top: 46%; left: 48.2%"
>
<mat-spinner
  style="margin: 0 auto"
  color="accent"
  class="spinner-alignment"
  [diameter]="75"
></mat-spinner>
</div>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</m4-layout>
