<div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
      <img src="./../../assets/e-mail.svg" class="main-lock-icon" alt="" />
    </div>
    <div *ngIf="((spinnerService.visibility | async) === false) && errors?.length == 0">
      <div class="form-footer">
        <div class="additional-link">
          <a routerLink="/usuario/login"><strong>Seja Bem-vindo! </strong></a>
        </div>
      </div>
      <div class="additional-link">
        <a routerLink="/usuario/login"
          >E-mail confirmado com sucesso! <strong>Entrar</strong></a
        >
      </div>
    </div>
    <br />
    <m4-error-list [Errors]="errors"></m4-error-list>
  </div>
</div>
