<section>
    <aside>
        <img src="./../../assets/home.jpg" alt="Nature" class="responsive">
    </aside>
    <article>
        <h1>A formula</h1>
        <p>O 'Magic Formula' é uma estratégia de investimento idealizada por Joel Greenblatt que usa os princípios do value investing. Os fundamentos da formula foram apresentadas no livro
        <a target="_blank" href="https://www.amazon.com.br/dp/B086K21JYZ/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1">"The Little Book That Beats The Market"</a></p>
        <h1>O Método</h1>
        <p>O autor sugere a compra das 30 primeiras empresas listadas no ranking, sendo elas teoricamente ações baratas com alto rendimento e alto retorno sobre o capital, baseado em indicadores fundamentalistas.
        <h1>O Histórico</h1>
        <p>Considerando um período de 17 anos (1988 a 2004) uma carteira com aproximadamente 30 ações classificadas pela Formula teve um retorno médio 30% ao ano, a média do mercado no mesmo período foi de 12%.
        <div class="center">
            <button routerLink="/magic-formula/acoes" mat-raised-button color="accent">Ranking das Ações Brasileiras</button>
        </div>        
        </article>
</section>

    
      