<div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
      <img src="./../../assets/bem-vindo.svg" class="main-lock-icon" alt="" />
    </div>
    <div class="form-footer">
      <div class="additional-link">
        <a routerLink="/usuario/login"
          ><strong>Olá, obrigado por se cadastrar! </strong></a
        >
      </div>
    </div>
    <div class="additional-link">
      <a routerLink="/usuario/login"
        >Enviamos um e-mail para confirmação de cadastro!</a
      >
    </div>
  </div>
</div>
